/* reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;/*font chữ*/
    scroll-behavior: smooth;/* cuộn trang khi lướt*/
}
/* common */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;/* tạo class font chữ màu trắng*/
}
.text-center{
    text-align: center !important;
}
.pull-right{
    float: right !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{/*lớp giả pseudo */
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-third{
    width: 33.33333%;
}
.col-half{
    width: 50%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    appearance: none;
    -webkit-appearance: none; /*dành riêng cho safari làm nút k bị tròn mà vuông như đã FE*/
}
.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
/* main */
#main{

}

#header{
    height : 46px;
    background-color: #000;
    position: fixed;/* khóa cứng header*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /*đưa header up*/
    /*overflow: hidden;/*ẩn phần con đã xổ xuống hơn 46px*/
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none; /*xóa tick đầu*/
}
#nav > li{
    display:inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;/*in hoa*/
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    min-width: 160px;/*chiều dài tối thiểu*/
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;/*sang phải*/
    padding: 0 21px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/html/W3_BAND/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    width: 100%;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-decription{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}
#content{
    /* height: 1000px; */
}
#content .content-section{
    width: 800px;/*hạn bề rộng là 800*/
    max-width: 100%;/* kéo 800 xuống để vừa ipad*/
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;/*cỡ chữ*/
    font-weight: 300;/*độ dày nét chữ*/
    text-align: center;/*căn giữa*/
    letter-spacing: 4px;/*khoảng cách các chữ*/
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;/*chữ nghiêng*/
    opacity: 0.6;/*độ đậm nhạt chữ*/
}
#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;/*căn đều 2 bên */
    line-height: 1.4;/* khoảng cách dòng*/
}
#content .member-list{
    margin-top: 32px;
}
/* #content .member-item{
    float: left;đưa block hình member sang trái
    width: 33.33333%; chia đều bề ngang
    text-align: center;
} */
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* tour section */
.tour-section{
    background-color: #000;
}
.ticket-list{
    margin-top: 40px;
    background-color: #fff;
    list-style-type: none;
}
.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    
}
.ticket-list .sold-out{
    font-size: 15px;
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list .quantity{
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;/*cần có float*/
}
/* Place */
.place-list{
    /* margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; */
    /* margin: 32px -8px 48px; */
    margin-top: 32px;
    /* margin-bottom: 48px; *//*chuyển qua dùng class cho cả 3 phần content*/
}
/* .place-item{
    width: 33.33333%;
} */
.place-img{
    width: 100%;
    display: block;/*do place-img là thuộc tính ban đầu in-line nên sẽ có khoảng cách vs place-body nên cần có dòng này để cùng thuoc tính với body*/
}
.place-img:hover{
    opacity: 0.5;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

/* contact form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {/*truy cập class có từ ti-*/
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color: rgb(3, 28, 247);
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline-color: #f44336;
}
/* Map section */
.map-section img{
    width: 100%;
}
/* footer section */
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list{
    font-size: 24px;

}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    display: none;
    align-items: center;
    justify-content: center;/* căn giữa*/
}
.modal.open{
    display: flex;
}
.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);/* luôn luôn có khoảng cách ít nhất 32px so với lề ngang*/
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}
header.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close {
    right: 0;
    position: absolute;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;/* chuyển trỏ chuột thành bàn tay*/
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets:hover {
    opacity: 1;
}
#buy-tickets {
    background: #009688;
    border: none;/*bỏ viền ngoài hộp thoại*/
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    opacity: 0.9;
}
.modal-footer {
    padding: 16px;
    text-align: right; /*lệch phải*/
}
.modal-footer a{
    color: #2196F3;
}
/* animation modal */
@keyframes modalFadeIn{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}